<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <header class="header">
        <a href="{{url_for('categoriesPage')}}">Main Page</a>
        {%if 'username' not in session %}
        <form action="{{url_for('showLogin')}}">
            <input type="submit" value="Login" />
        </form>
        {% else %}
        <form action="{{url_for('gdisconnect')}}">
            <input type="submit" value="Logout" />
        </form>
        {% endif %}
    </header>

    <h1>Categories</h1>
    {% for i in categories %}
    <div>
        <a href="{{url_for('itemsPage', categories_id=i.id)}}">{{i.name}}</a>
    </div>
    {% endfor %}
    <h1>{{categorie.name}}</h1>
    <a href="{{url_for('newItem', categories_id=categorie.id)}}">New Item</a>
    <br>
    <a href="{{url_for('editCategories', categories_id=categorie.id)}}">Edit Category</a>
    <br>
    <a href="{{url_for('deleteCategories', categories_id=categorie.id)}}">Delete Category</a>

    <br><br><br>
    {% for i in items_list %}
    <div>
        <a href="{{url_for('itemPage', categories_id=i.categories.id, item_id=i.id)}}">{{i.name}}</a>
    </div>
    {% endfor %}
</body>

</html>